# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
salary-app/.gradle
salary-app/gradle
salary-app/.idea
# dependencies
salary-ui/node_modules
salary-ui/.pnp
salary-ui/.pnp.js

# testing
salary-ui/coverage

# production
salary-ui/build

# misc
salary-ui/.DS_Store
salary-ui/.env.local
salary-ui.env.development.local
salary-ui/.env.test.local
salary-ui/.env.production.local

salary-ui/npm-debug.log*
salary-ui/yarn-debug.log*
salary-ui/yarn-error.log*
