.field {
    /*width: 50px;*/
    align-content: start;
    flex: 1;
    flex-direction: row;
    margin: 10px;
}

.salary {
    flex: 1;
}

.results {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
}

.label {
    margin-right: 10px;
    align-content: start;

}

.value {
    align-content: end;
}